@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* custom named colors */
  --color-nude: #e6b7af;
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply m-0;
    background-color: var(--color-nude);
    color: var(--foreground);
  }
}

@layer utilities {
  .bg-nude {
    background-color: var(--color-nude) !important;
  }
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(206, 168, 141, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
